{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration') }}
    {{ encore_entry_script_tags('formValidation') }}
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="heading registration">
        <div class="wrapper">
            <h1>Inscription<br>Particulier</h1>
        </div>
    </section>
    <section class="form-registration">
        <div class="wrapper">
            <div class="disclamer">
                <p>Si vous êtes un professionnel du secteur du Bien-Être, inscrivez-vous via <a href="{{ path('registration', { 'typeOfUser' : 'provider' }) }}">ce formulaire</a></p>
            </div>
            <h2>Vos données</h2>
            {{ form_start(form) }}
                <div class="form-customer">
                    <div class="form-customer-lastName">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="form-customer-firstName">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="form-mail">
                    {{ form_row(form.user.email) }}
                </div>
                <div class="form-address">
                    <div class="form-address-street">
                        {{ form_row(form.user.addressStreet) }}
                    </div>
                    <div class="form-address-number">
                        {{ form_row(form.user.addressNumber) }}
                    </div>
                    <div class="form-address-postcode">
                        {{ form_row(form.user.postCode) }}
                    </div>
                    <div class="form-address-locality">
                        {{ form_row(form.user.locality) }}
                    </div>
                </div>
                <div class="form-password">
                    <div class="form-password-password">
                        {{ form_row(form.user.password) }}
                    </div>
                    <div class="form-password-confirmPassword">
                        {{ form_row(form.user.confirmPassword) }}
                    </div>
                </div>
                <div class="form-newsletter">
                    {{ form_row(form.newsletter) }}
                </div>
                {{ form_row(form.user.submit) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
