{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration') }}
    {{ encore_entry_script_tags('formValidation') }}
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="heading registration">
        <div class="wrapper">
            <h1>Inscription<br>Professionnel</h1>
        </div>
    </section>
    <section class="form-registration">
        <div class="wrapper">
            <div class="disclamer">
                <p>Si vous êtes un particulier, inscrivez-vous via <a href="{{ path('registration', { 'typeOfUser' : 'customer' }) }}">ce formulaire</a></p>
            </div>
            <h2>Votre société</h2>
            {{ form_start(form) }}
                <div class="form-provider-identity">
                    <div class="form-name">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-logo">
                        {{ form_row(form.logo) }}
                    </div>
                </div>
                <div class="form-provider-contact">
                    <div class="form-website">
                        {{ form_row(form.website) }}
                    </div>
                    <div class="form-phoneNumber">
                        {{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="form-VTANumber">
                        {{ form_row(form.VTANumber) }}
                    </div>
                </div>
                <div class="form-description">
                    {{ form_row(form.description) }}
                </div>
                <h2>Vos données</h2>
                {{ form_row(form.user.email) }}
                <div class="form-address">
                    <div class="form-address-street">
                        {{ form_row(form.user.addressStreet) }}
                    </div>
                    <div class="form-address-number">
                        {{ form_row(form.user.addressNumber) }}
                    </div>
                    <div class="form-address-postcode">
                        {{ form_row(form.user.postCode) }}
                    </div>
                    <div class="form-address-locality">
                        {{ form_row(form.user.locality) }}
                    </div>
                </div>
                <div class="form-password">
                    <div class="form-password-password">
                        {{ form_row(form.user.password) }}
                    </div>
                    <div class="form-password-confirmPassword">
                        {{ form_row(form.user.confirmPassword) }}
                    </div>
                </div>
                <div class="form-privacyPolicy">
                    {{ form_row(form.user.privacyPolicy, {
                        'label': 'J\'accepte <a href="/privacy-policy">la politique de confiendiatlité</a>',
                        'label_html': true,
                    }) }}
                </div>
                {{ form_row(form.user.submit) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
