<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        {# Icon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('./img/favicon.ico') }}" />
        {# FontAwesome #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('alert') }}
        {% endblock %}
    </head>
    <body>

        {% include 'header.html.twig' %}

        {# Display flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <p>{{ message|raw }}</p>
                    <span class="alert-closeBtn">&times;</span>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

    </body>
</html>
