<header>
    <div class="wrapper">
        <div class="openMenu">
            <a class="openLogo" href="#">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.892857 21.9286H24.1071C24.2113 21.9286 24.3113 21.97 24.3849 22.0436C24.4586 22.1173 24.5 22.2172 24.5 22.3214V24.1071C24.5 24.2113 24.4586 24.3113 24.3849 24.3849C24.3113 24.4586 24.2113 24.5 24.1071 24.5H0.892857C0.788665 24.5 0.688739 24.4586 0.615064 24.3849C0.541391 24.3113 0.5 24.2113 0.5 24.1071V22.3214C0.5 22.2172 0.541391 22.1173 0.615064 22.0436C0.688739 21.97 0.788665 21.9286 0.892857 21.9286ZM0.892857 14.7857H24.1071C24.2113 14.7857 24.3113 14.8271 24.3849 14.9008C24.4586 14.9745 24.5 15.0744 24.5 15.1786V16.9643C24.5 17.0685 24.4586 17.1684 24.3849 17.2421C24.3113 17.3158 24.2113 17.3571 24.1071 17.3571H0.892857C0.788667 17.3571 0.688741 17.3158 0.615064 17.2421C0.541391 17.1684 0.5 17.0685 0.5 16.9643V15.1786C0.5 15.0744 0.541391 14.9745 0.615065 14.9008C0.688739 14.8271 0.788663 14.7857 0.892857 14.7857ZM0.892857 7.64286H24.1071C24.2113 7.64286 24.3113 7.68425 24.3849 7.75792C24.4586 7.8316 24.5 7.93152 24.5 8.03571V9.82143C24.5 9.92562 24.4586 10.0255 24.3849 10.0992C24.3113 10.1729 24.2113 10.2143 24.1071 10.2143H0.892857C0.788665 10.2143 0.68874 10.1729 0.615065 10.0992C0.54139 10.0255 0.5 9.92562 0.5 9.82143V8.03571C0.5 7.93152 0.54139 7.8316 0.615065 7.75792C0.68874 7.68425 0.788665 7.64286 0.892857 7.64286ZM0.892857 0.5H24.1071C24.2113 0.5 24.3113 0.541391 24.3849 0.615064C24.4586 0.688739 24.5 0.788665 24.5 0.892857V2.67857C24.5 2.78276 24.4586 2.88269 24.3849 2.95636C24.3113 3.03004 24.2113 3.07143 24.1071 3.07143H0.892857C0.788665 3.07143 0.68874 3.03004 0.615065 2.95636C0.54139 2.88269 0.5 2.78276 0.5 2.67857V0.892857C0.5 0.788665 0.54139 0.68874 0.615065 0.615065C0.68874 0.54139 0.788665 0.5 0.892857 0.5Z" stroke="#33272A"/>
                </svg>
            </a>
        </div>
        <div class="logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('/img/full_logo_120p.png') }}" alt="logo Bien-Être" title="Bien-Être" />
            </a>
        </div>
        <nav class="menu">
            <ul class="navBar">
                <li>
                    <a class="categoryLink" href="#">
                        Catégories
                        <span class="chevronCategory closed">
                            <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.695896 1.80319L0.697792 1.80131L1.80131 0.697792C2.06608 0.433019 2.49021 0.435752 2.74759 0.695896L2.74758 0.695901L2.74947 0.697792L7.45651 5.40482L7.81006 5.75838L8.16361 5.40482L12.8706 0.697792C13.1354 0.433019 13.5595 0.435752 13.8169 0.695901L13.8188 0.697792L14.9223 1.80131C15.1871 2.06608 15.1844 2.49021 14.9242 2.74758L14.9223 2.74947L8.2817 9.3901L8.28168 9.39008L8.27792 9.39392C8.02688 9.65042 7.60427 9.65595 7.33842 9.3901L0.697792 2.74947C0.433019 2.4847 0.435752 2.06057 0.695896 1.80319Z" stroke="#594A4E"/>
                            </svg>
                        </span>
                    </a>
                    {# Custom Twig function to display Categories Sub Menu #}
                    {{ subMenuCategory() }}
                </li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
            <div class="langMobile">
                <ul>
                    <li>
                        <a class="active" href="#">FR</a>
                    </li>
                    <li>
                        <a href="#">NL</a>
                    </li>
                    <li>
                        <a href="#">DE</a>
                    </li>
                </ul>
            </div>
            <div class="menuFooter">
                <img src="{{ asset('/img/short_logo_100p.png') }}" alt="Logo Bien-Être">
            </div>
        </nav>
        <div class="navBtn">
            <span class="searchBtn">
                <a class="openSearch" href="">
                    <svg width="25" height="25" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7702 16.0983L17.1384 16.9062H18.1641H18.96C19.1417 16.9062 19.3118 16.9769 19.4365 17.1016L24.3028 21.9679C24.3031 21.9682 24.3034 21.9685 24.3037 21.9688C24.5638 22.2327 24.5635 22.6591 24.2998 22.9228L22.9179 24.3046L22.916 24.3065C22.6587 24.5667 22.2345 24.5694 21.9698 24.3046L17.1016 19.4365C16.9769 19.3118 16.9062 19.1417 16.9062 18.96V18.1641V17.1384L16.0983 17.7702C14.4597 19.0513 12.3994 19.8125 10.1562 19.8125C4.82204 19.8125 0.5 15.4905 0.5 10.1562C0.5 4.82204 4.82204 0.5 10.1562 0.5C15.4905 0.5 19.8125 4.82204 19.8125 10.1562C19.8125 12.3994 19.0513 14.4597 17.7702 16.0983ZM3.40625 10.1562C3.40625 13.8897 6.42821 16.9062 10.1562 16.9062C13.8897 16.9062 16.9062 13.8843 16.9062 10.1562C16.9062 6.42282 13.8843 3.40625 10.1562 3.40625C6.42282 3.40625 3.40625 6.42821 3.40625 10.1562Z" fill="white" stroke="#33272A"/>
                    </svg>
                </a>
            </span>
            <span class="{% if app.user %}profileBtn{% else %}loginBtn{% endif %}">
                <a href="{% if app.user %}/profile{% endif %}">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0312 7.03125C19.0312 10.6369 16.1057 13.5625 12.5 13.5625C8.89431 13.5625 5.96875 10.6369 5.96875 7.03125C5.96875 3.42556 8.89431 0.5 12.5 0.5C16.1057 0.5 19.0312 3.42556 19.0312 7.03125ZM12.5 16.9062C13.8052 16.9062 15.0468 16.6235 16.1673 16.125H18.75C21.926 16.125 24.5 18.699 24.5 21.875V22.6562C24.5 23.6741 23.6741 24.5 22.6562 24.5H2.34375C1.32595 24.5 0.5 23.6741 0.5 22.6562V21.875C0.5 18.699 3.07399 16.125 6.25 16.125H8.83307C9.95713 16.6232 11.1941 16.9062 12.5 16.9062Z" stroke="#33272A"/>
                    </svg>
                </a>
            </span>
        </div>
        <div class="lang">
            <ul>
                <li>
                    <a href="#">FR</a>
                </li>
                <li>
                    <a href="#">NL</a>
                </li>
                <li>
                    <a href="#">DE</a>
                </li>
            </ul>
        </div>
        <div class="searchMod">
            <h1>Trouvez le bonheur près de chez vous</h1>
            {{ render(controller(
                'App\\Controller\\SearchController::displayForm'
            )) }}
        </div>
        <div class="loginMod">
            {{ render(controller(
                'App\\Controller\\SecurityController::login'
            )) }}
            <h1>Pas encore inscrit ?</h1>
            <p><span class="registerLink">Incrivez-vous maintenant !</span></p>
        </div>
    </div>
</header>