{{ form_start(form) }}

    {{ form_row(form.q) }}
    {{ form_row(form.c) }}
    {{ form_row(form.w) }}
    {{ form_row(form.submit) }}

{{ form_end(form) }}

<!--
            <form action="/search">
                <label for="q">Que cherchez-vous ?</label>
                <input name="q" type="search" autocomplete="false" placeholder="Prestataire"/>
                <label for="c">Dans quelle catégorie ?</label>
                <input name="c" type="search" autocomplete="false" placeholder="Catégorie"/>
                <label for="w">Où le cherchez-vous ?</label>
                <input name="w" type="search" autocomplete="false" placeholder="Ville, code postal, localité, ..."/>
                <input type="submit" value="Evadez-vous" />
            </form>
            -->