{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ provider.name }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('providerPage') }}
{% endblock %}

{% block body %}
    <main>
        <section class="heading listing providerDetail">
            <div class="wrapper">
                <h1>
                    {{ provider.name }} </br>
                    <em><span class="address">{{ provider.user.addressStreet }}, {{ provider.user.addressNumber }}</span><br><span class="locality">{{ provider.user.locality.postCode.postCode }} {{ provider.user.locality.name }}</span></em>
                </h1>
            </div>
        </section>
        <section class="content providerDetail">
            <div class="wrapper">
                <div class="logoContainer">
                    <img loading="lazy" class="logo" src="{{ logo_directory ~ provider.logo }}" alt="Image {{ provider.name }}" title="" />
                </div>
                <div class="description">
                    <p>{{ provider.description }}</p>
                </div>
                <div class="categories">
                    <h2>Catégories</h2>
                    <ul>
                        {% for category in provider.serviceCategories %}
                        <li class="bigPill">
                            <a href="{{ path('category_detail', { categoryName: category.name|lower }) }}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>Coordonnées</h2>
                <div class="contactIconsContainer">
                    <span class="contactIcon website">
                        <a target="_blank" href="{{ provider.website }}">
                            <svg width="58" height="74" viewBox="0 0 58 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_70_228)">
                            <path d="M37.9282 17.3226C36.4662 8.32056 33.0179 2 29.005 2C24.9921 2 21.5439 8.32056 20.0819 17.3226H37.9282ZM19.3257 27C19.3257 29.2379 19.4467 31.3851 19.6584 33.4516H38.3416C38.5533 31.3851 38.6743 29.2379 38.6743 27C38.6743 24.7621 38.5533 22.6149 38.3416 20.5484H19.6584C19.4467 22.6149 19.3257 24.7621 19.3257 27ZM52.0641 17.3226C49.1805 10.4778 43.3426 5.18548 36.1335 3.04839C38.5937 6.45565 40.2876 11.5867 41.1748 17.3226H52.0641ZM21.8665 3.04839C14.6675 5.18548 8.81952 10.4778 5.94596 17.3226H16.8352C17.7124 11.5867 19.4063 6.45565 21.8665 3.04839ZM53.143 20.5484H41.5781C41.7899 22.6653 41.9109 24.8327 41.9109 27C41.9109 29.1673 41.7899 31.3347 41.5781 33.4516H53.1329C53.6874 31.3851 54 29.2379 54 27C54 24.7621 53.6874 22.6149 53.143 20.5484ZM16.0992 27C16.0992 24.8327 16.2202 22.6653 16.4319 20.5484H4.86711C4.32265 22.6149 4 24.7621 4 27C4 29.2379 4.32265 31.3851 4.86711 33.4516H16.4219C16.2202 31.3347 16.0992 29.1673 16.0992 27ZM20.0819 36.6774C21.5439 45.6794 24.9921 52 29.005 52C33.0179 52 36.4662 45.6794 37.9282 36.6774H20.0819ZM36.1436 50.9516C43.3426 48.8145 49.1906 43.5222 52.0742 36.6774H41.1849C40.2976 42.4133 38.6037 47.5444 36.1436 50.9516ZM5.94596 36.6774C8.8296 43.5222 14.6675 48.8145 21.8766 50.9516C19.4164 47.5444 17.7225 42.4133 16.8352 36.6774H5.94596Z" fill="#594A4E"/>
                            </g>
                            <path d="M23.0903 65.688L20.7023 72H19.8983L17.9063 66.828L15.9143 72H15.1103L12.7343 65.688H13.5503L15.5303 71.052L17.5583 65.688H18.2903L20.3063 71.052L22.3103 65.688H23.0903ZM34.1786 65.688L31.7906 72H30.9866L28.9946 66.828L27.0026 72H26.1986L23.8226 65.688H24.6386L26.6186 71.052L28.6466 65.688H29.3786L31.3946 71.052L33.3986 65.688H34.1786ZM45.2668 65.688L42.8788 72H42.0748L40.0828 66.828L38.0908 72H37.2868L34.9108 65.688H35.7268L37.7068 71.052L39.7348 65.688H40.4668L42.4828 71.052L44.4868 65.688H45.2668Z" fill="#594A4E"/>
                            <defs>
                                <filter id="filter0_d_70_228" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_70_228"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_70_228" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                        </a>
                        <p class="iconDescription">
                            <a target="_blank" href="{{ provider.website }}">{{ provider.website }}</a>
                        </p>
                    </span>
                    <span class="contactIcon phone">
                        <a href="{{ 'tel:' ~ provider.phoneNumber }}">
                            <svg width="58" height="74" viewBox="0 0 58 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_70_227)">
                                    <path d="M53.9423 40.0271L51.5985 50.1836C51.4792 50.7002 51.1883 51.1611 50.7732 51.491C50.3582 51.8209 49.8435 52.0003 49.3133 52C24.3031 52 4 31.736 4 6.6867L17.5602 2.25371C18.0504 2.50151 18.4388 2.91262 18.6585 3.41613L23.346 14.3538M53.9423 40.0271C54.0633 39.4889 53.9928 38.9253 53.7431 38.4333C53.4934 37.9414 53.08 37.5518 52.5741 37.3318M53.9423 40.0271L53.4545 39.9175L51.1113 50.0711C51.0175 50.4775 50.7886 50.84 50.4621 51.0996C50.1356 51.3591 49.7307 51.5003 49.3136 51.5H49.3133C24.579 51.5 4.5 31.4595 4.5 6.6867V6.68659C4.49991 6.26962 4.64115 5.86494 4.90067 5.53858C5.16019 5.21223 5.52267 4.98347 5.92894 4.88966L16.0837 2.54625C16.0839 2.54619 16.0842 2.54614 16.0844 2.54608C16.5064 2.45036 16.9485 2.50477 17.3346 2.69994C17.7205 2.895 18.0263 3.21843 18.1995 3.61458C18.1997 3.61507 18.2 3.61555 18.2002 3.61603L22.8864 14.5507M53.9423 40.0271L53.4551 39.9147L53.4548 39.9161C53.5498 39.4917 53.4941 39.0474 53.2973 38.6596C53.1004 38.2718 52.7747 37.9646 52.376 37.7909L52.3771 37.7913L52.5741 37.3318M52.5741 37.3318L41.6364 32.6442M52.5741 37.3318L52.3747 37.7903L41.4404 33.1042L41.6364 32.6442M41.6364 32.6442C41.1692 32.4451 40.6499 32.4031 40.1567 32.5246C39.6635 32.6462 39.2232 32.9246 38.902 33.318L34.0581 39.2361C26.4562 35.6519 20.3384 29.534 16.7541 21.9321L22.6722 17.0882C23.0664 16.7676 23.3455 16.3273 23.467 15.8339C23.5886 15.3405 23.5462 14.8209 23.346 14.3538M41.6364 32.6442L41.4394 33.1038L41.4403 33.1041C41.0727 32.9475 40.6643 32.9145 40.2763 33.0101C39.8884 33.1057 39.542 33.3247 39.2893 33.6342L39.2889 33.6347L34.4451 39.5528L34.1979 39.8548L33.8449 39.6884C26.138 36.0546 19.9356 29.8523 16.3019 22.1453L16.1355 21.7923L16.4374 21.5452L22.3555 16.7013L22.3567 16.7003C22.6666 16.4483 22.886 16.1021 22.9816 15.7142C23.0771 15.3264 23.0438 14.9179 22.8864 14.5507M23.346 14.3538L22.8865 14.5508L22.8864 14.5507M23.346 14.3538L22.8864 14.5507" stroke="#594A4E" shape-rendering="crispEdges"/>
                                </g>
                                <path d="M25.3534 71.616C25.1934 71.76 24.9934 71.872 24.7534 71.952C24.5214 72.024 24.2774 72.06 24.0214 72.06C23.4294 72.06 22.9734 71.9 22.6534 71.58C22.3334 71.26 22.1734 70.808 22.1734 70.224V66.408H21.0454V65.688H22.1734V64.308H23.0254V65.688H24.9454V66.408H23.0254V70.176C23.0254 70.552 23.1174 70.84 23.3014 71.04C23.4934 71.232 23.7654 71.328 24.1174 71.328C24.2934 71.328 24.4614 71.3 24.6214 71.244C24.7894 71.188 24.9334 71.108 25.0534 71.004L25.3534 71.616ZM32.7778 69.108H27.4978C27.5458 69.764 27.7978 70.296 28.2538 70.704C28.7098 71.104 29.2858 71.304 29.9818 71.304C30.3738 71.304 30.7338 71.236 31.0618 71.1C31.3898 70.956 31.6738 70.748 31.9138 70.476L32.3938 71.028C32.1138 71.364 31.7618 71.62 31.3378 71.796C30.9218 71.972 30.4618 72.06 29.9578 72.06C29.3098 72.06 28.7338 71.924 28.2298 71.652C27.7338 71.372 27.3458 70.988 27.0658 70.5C26.7858 70.012 26.6458 69.46 26.6458 68.844C26.6458 68.228 26.7778 67.676 27.0418 67.188C27.3138 66.7 27.6818 66.32 28.1458 66.048C28.6178 65.776 29.1458 65.64 29.7298 65.64C30.3138 65.64 30.8378 65.776 31.3018 66.048C31.7658 66.32 32.1298 66.7 32.3938 67.188C32.6578 67.668 32.7898 68.22 32.7898 68.844L32.7778 69.108ZM29.7298 66.372C29.1218 66.372 28.6098 66.568 28.1938 66.96C27.7858 67.344 27.5538 67.848 27.4978 68.472H31.9738C31.9178 67.848 31.6818 67.344 31.2658 66.96C30.8578 66.568 30.3458 66.372 29.7298 66.372ZM35.1239 63.096H35.9759V72H35.1239V63.096Z" fill="#594A4E"/>
                                <defs>
                                    <filter id="filter0_d_70_227" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dy="2"/>
                                    <feGaussianBlur stdDeviation="2"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_70_227"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_70_227" result="shape"/>
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                        <p class="iconDescription">
                            <a href="{{ 'tel:' ~ provider.phoneNumber }}">{{ provider.phoneNumber }}</a>
                        </p>
                    </span>
                    <span class="contactIcon mail">
                        <a href="{{ 'mailto:' ~ provider.user.email }}">
                            <svg width="58" height="74" viewBox="0 0 58 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_70_226)">
                                    <path d="M54 47.3125C54 49.9014 51.9014 52 49.3125 52H8.6875C6.09863 52 4 49.9014 4 47.3125V21.602C4.00001 20.8912 4.16167 20.1897 4.47275 19.5505C4.78383 18.9114 5.23619 18.3514 5.79561 17.9129C8.22852 16.0058 10.2391 14.4593 21.8308 6.0466C23.4738 4.84865 26.7341 1.96613 29 2.00031C31.2654 1.96574 34.527 4.84914 36.1692 6.0465C47.7598 14.4583 49.773 16.0069 52.2044 17.9129C52.7638 18.3514 53.2162 18.9114 53.5272 19.5505C53.8383 20.1897 54 20.8912 54 21.602V47.3125ZM47.5873 28.1128C47.337 27.7487 46.8354 27.6641 46.48 27.9266C44.249 29.5743 41.0638 31.9017 36.1692 35.4538C34.5262 36.6517 31.2659 39.534 29 39.4997C26.7333 39.5333 23.4767 36.6537 21.8308 35.4538C16.9368 31.9021 13.7513 29.5745 11.52 27.9266C11.1646 27.6641 10.663 27.7487 10.4127 28.1128L9.52676 29.4015C9.41192 29.5684 9.36646 29.7735 9.39997 29.9733C9.43348 30.1731 9.54334 30.3521 9.70635 30.4725C11.9414 32.1228 15.1218 34.4461 19.9898 37.9791C21.9697 39.4226 25.5098 42.6484 29 42.6249C32.4887 42.6485 36.0274 39.4246 38.0101 37.9791C42.8782 34.446 46.0587 32.1227 48.2936 30.4725C48.4566 30.3521 48.5664 30.1731 48.5999 29.9733C48.6334 29.7735 48.588 29.5684 48.4731 29.4015L47.5873 28.1128Z" fill="#594A4E"/>
                                </g>
                                <path d="M24.035 65.64C24.827 65.64 25.447 65.868 25.895 66.324C26.351 66.78 26.579 67.452 26.579 68.34V72H25.727V68.424C25.727 67.768 25.567 67.268 25.247 66.924C24.935 66.58 24.491 66.408 23.915 66.408C23.259 66.408 22.743 66.612 22.367 67.02C21.991 67.42 21.803 67.976 21.803 68.688V72H20.951V68.424C20.951 67.768 20.791 67.268 20.471 66.924C20.159 66.58 19.711 66.408 19.127 66.408C18.479 66.408 17.963 66.612 17.579 67.02C17.203 67.42 17.015 67.976 17.015 68.688V72H16.163V65.688H16.979V66.84C17.203 66.456 17.515 66.16 17.915 65.952C18.315 65.744 18.775 65.64 19.295 65.64C19.823 65.64 20.279 65.752 20.663 65.976C21.055 66.2 21.347 66.532 21.539 66.972C21.771 66.556 22.103 66.232 22.535 66C22.975 65.76 23.475 65.64 24.035 65.64ZM31.6976 65.64C32.5216 65.64 33.1536 65.848 33.5936 66.264C34.0336 66.672 34.2536 67.28 34.2536 68.088V72H33.4376V71.016C33.2456 71.344 32.9616 71.6 32.5856 71.784C32.2176 71.968 31.7776 72.06 31.2656 72.06C30.5616 72.06 30.0016 71.892 29.5856 71.556C29.1696 71.22 28.9616 70.776 28.9616 70.224C28.9616 69.688 29.1536 69.256 29.5376 68.928C29.9296 68.6 30.5496 68.436 31.3976 68.436H33.4016V68.052C33.4016 67.508 33.2496 67.096 32.9456 66.816C32.6416 66.528 32.1976 66.384 31.6136 66.384C31.2136 66.384 30.8296 66.452 30.4616 66.588C30.0936 66.716 29.7776 66.896 29.5136 67.128L29.1296 66.492C29.4496 66.22 29.8336 66.012 30.2816 65.868C30.7296 65.716 31.2016 65.64 31.6976 65.64ZM31.3976 71.388C31.8776 71.388 32.2896 71.28 32.6336 71.064C32.9776 70.84 33.2336 70.52 33.4016 70.104V69.072H31.4216C30.3416 69.072 29.8016 69.448 29.8016 70.2C29.8016 70.568 29.9416 70.86 30.2216 71.076C30.5016 71.284 30.8936 71.388 31.3976 71.388ZM37.1677 65.688H38.0197V72H37.1677V65.688ZM37.5997 64.308C37.4237 64.308 37.2757 64.248 37.1557 64.128C37.0357 64.008 36.9757 63.864 36.9757 63.696C36.9757 63.536 37.0357 63.396 37.1557 63.276C37.2757 63.156 37.4237 63.096 37.5997 63.096C37.7757 63.096 37.9237 63.156 38.0437 63.276C38.1637 63.388 38.2237 63.524 38.2237 63.684C38.2237 63.86 38.1637 64.008 38.0437 64.128C37.9237 64.248 37.7757 64.308 37.5997 64.308ZM40.9903 63.096H41.8423V72H40.9903V63.096Z" fill="#594A4E"/>
                                <defs>
                                    <filter id="filter0_d_70_226" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dy="2"/>
                                    <feGaussianBlur stdDeviation="2"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_70_226"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_70_226" result="shape"/>
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                        <p class="iconDescription">
                            <a href="{{ 'mailto:' ~ provider.user.email }}">{{ provider.user.email }}</a>
                        </p>
                    </span>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.2990891026984!2d5.583868615904331!3d50.64013628155949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f0a7cbf27eeb%3A0x8d006d3f3fc8fbee!2sRue%20de%20la%20Libert%C3%A9%2021%2C%204020%20Li%C3%A8ge!5e0!3m2!1sfr!2sbe!4v1641489726127!5m2!1sfr!2sbe" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
    {# Only accessible if correctly logged to the website #}
        {% if app.user %}
            {% if provider.internships|length > 0 or provider.promotions|length > 0 or provider.images|length > 0 %}
                <nav class="navBar providerDetail">
                    <ul>
                        {% if provider.internships|length > 0 %}
                            <li>
                                <a href="#internship">Stages</a>
                            </li>
                        {% endif %}
                        {% if provider.promotions|length > 0 %}
                            <li>
                                <a href="#promotions">Promos</a>
                            </li>
                        {% endif %}
                        {% if provider.images|length > 0 %}
                            <li>
                                <a href="#photos">Photos</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {% if provider.internships|length > 0 %}
                <section id="internship" class="internship providerDetail">
                    <div class="wrapper">
                        <h2>Stages</h2>
                        {% for internship in provider.internships %}
                            <div class="bigCard internship">
                                <div class="img-container">
                                    <img loading="lazy" src="{{ asset('/img/category.jpg') }}" alt="Image {{ internship.name }}" />
                                </div>
                                <div class="bigCard-content">
                                    <div class="bigCard-heading">
                                        <h3>{{ internship.name }}</h3>
                                        <p class="price">{{ internship.price }}€</p>
                                        <p class="date">{{ internship.startAt|date('d/m/Y') }} au {{ internship.endAt|date('d/m/Y') }}</p>
                                    </div>
                                    <p class="description">{{ internship.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% if provider.promotions|length > 0 %}
                <section id="promotions" class="promotions providerDetail">
                    <div class="wrapper">
                        <h2>Promotions du moment</h2>
                        <div class="smallCard-container">
                            {% for promotion in provider.promotions %}
                                <div class="smallCard">
                                    <img loading="lazy" src="{{ asset('/img/thumbnail_provider.jpg') }}" alt="Image {{ provider.name }} stage" />
                                    <div class="smallCard-content">
                                        <p class="name">{{ promotion.name }}</p>
                                        <p class="category">{{ promotion.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
        {% else %}
        <section class="unauthorized">
            <div class="wrapper">
                <div class="disclamer">
                    <p>Pour accéder aux promotions et aux stages des prestataires, <br><br> <strong class="openLoginForm">Connectez-vous</strong><br> ou <br><strong class="openLoginForm">Inscrivez-vous</strong> !</p>
                </div>
            </div>
        </section>
        {% endif %}

        {% if provider.images|length > 0 %}
            <section id="photos" class="images providerDetail">
                <div class="wrapper">
                    <h2>Photos</h2>
                    <div class="images-container">
                        {% for image in provider.images %}
                            <div class="image">
                                <img loading="lazy" src="{{ images_directory ~ image.fileName }}" alt="Photo {{ provider.name }}" title="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if similarProviders|length > 0 %}
            <section class="similarProviders">
                <div class="wrapper">
                    <h2>Prestataires similaires</h2>
                    <div class="smallCard-container">
                        {% for similarProvider in similarProviders %}
                            <div class="smallCard">
                                <a href="{{ path('provider_detail', { id : similarProvider.id } ) }}">
                                    <img loading="lazy" src="{{ logo_directory ~ similarProvider.logo }}" alt="{{ similarProvider.name }}" />
                                </a>
                                <a href="{{ path('provider_detail', { id : similarProvider.id } ) }}">
                                    <div class="smallCard-content">
                                        <p class="name">{{ similarProvider.name }}</p>
                                        <p class="category">
                                            {% for serviceCategory in similarProvider.serviceCategories %}
                                                {{ serviceCategory.name }}{{ loop.index != loop.last ? ', ' : '' }}
                                            {% endfor %}
                                        </p>
                                        <p class="place">{{ similarProvider.user.locality.postCode.postCode ~ ' ' ~ similarProvider.user.locality.name|capitalize }}</p>
                                    </div>
                                </a>
                                <span class="reviews">8<i class="fas fa-star"></i></span>
                                {% if similarProvider.promotions|length > 0 and similarProvider.internships|length > 0 %}
                                    <span class="smallPills-1 promos">Promos</span>
                                    <span class="smallPills-2 internships">Stages</span>
                                {% elseif similarProvider.promotions|length > 0 %}
                                    <span class="smallPills-1 promos">Promos</span>
                                {% elseif similarProvider.internships|length > 0 %}
                                    <span class="smallPills-1 internships">Stages</span>
                                {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    {% endif %}
{% endblock %}
