{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formValidation') }}
{% endblock %}

{% block title %}
    {{ parent() }} | Modifier votre page
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="heading registration">
        <div class="wrapper">
            <h1>Modifier votre page</h1>
        </div>
    </section>
    <section class="form-registration">
        <div class="wrapper">
            <h2>Votre société</h2>
            {{ form_start(form, { name: 'provider'}) }}
                <div class="form-provider-identity">
                    <div class="form-name">
                        {{ form_row(form.name, { 'id': 'provider_name'}) }}
                    </div>
                    <div class="form-logo">
                        {{ form_row(form.logo, { 'id': 'provider_logo'}) }}
                        <div id="previewLogo">
                            <img src="{{ logo_directory ~ image }}">
                        </div>
                    </div>
                </div>
                <div class="form-provider-contact">
                    <div class="form-website">
                        {{ form_row(form.website, { 'id': 'provider_website'}) }}
                    </div>
                    <div class="form-phoneNumber">
                        {{ form_row(form.phoneNumber, { 'id': 'provider_phoneNumber'}) }}
                    </div>
                    <div class="form-VTANumber">
                        {{ form_row(form.VTANumber, { 'id': 'provider_VTANumber'}) }}
                    </div>
                </div>
                <div class="form-description">
                    {{ form_row(form.description, { 'id': 'provider_description'}) }}
                </div>
                <h2>Vos données</h2>
                {{ form_row(form.user.email, { 'id': 'provider_user_email', 'type': 'hidden', 'label': ' '}) }}
                <div class="form-address">
                    <div class="form-address-street">
                        {{ form_row(form.user.addressStreet, { 'id': 'provider_user_addressStreet'}) }}
                    </div>
                    <div class="form-address-number">
                        {{ form_row(form.user.addressNumber, { 'id': 'provider_user_addressNumber'}) }}
                    </div>
                    <div class="form-address-postcode">
                        {{ form_row(form.user.postCode, { 'id': 'provider_user_postCode'}) }}
                    </div>
                    <div class="form-address-locality">
                        {{ form_row(form.user.locality, { 'id': 'provider_user_locality'}) }}
                    </div>
                </div>
                {{ form_row(form.user.submit, { 'id': 'provider_user_submit'}) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
