{% extends 'base.html.twig' %}

{# Define default values for null variables #}
{% if what is null %}
    {% set what_display = 'Tous les prestataires' %}
{% else %}
    {% set what_display = what %}
{% endif %}
{% if where is null %}
    {% set where_display = 'Belgique' %}
{% else %}
    {% set where_display = where %}
{% endif %}

{% block title %}
    {{ parent() }} | Résultats pour {{ what_display }} {{ (where_display == 'Belgique') ? ('en ' ~ where_display) : 'à ' ~ where }}
{% endblock %}

{% block body %}
    <section class="heading listing results">
        <div class="wrapper">
            <h1>
                Résultat{{ providers|length > 1 ? 's' : '' }} pour </br>
                <em>"{{ what_display }}"</em>
            </h1>
        </div>
    </section>
    <section id="results" class="content listing results">
        <div class="wrapper">
            <h2>Les prestataires</h2>
            <div class="smallCard-container">
                {% if providers|length == 0 %}
                    <p>Aucun prestataire pour cette recherche</p>
                {% else %}
                    {% for provider in providers %}
                        <a href="{{ path('provider_detail', { id : provider.id } ) }}">
                            <div class="smallCard">
                                <img src="{{ asset('/img/thumbnail_provider.jpg') }}" />
                                <div class="smallCard-content">
                                    <p class="name">{{ provider.name }}</p>
                                    <p class="category">
                                        {% for serviceCategory in provider.serviceCategories %}
                                            {{ serviceCategory.name }}{{ loop.index != loop.last ? ', ' : '' }}
                                        {% endfor %}
                                    </p>
                                    <p class="place">{{ provider.user.locality.postCode.postCode ~ ' ' ~ provider.user.locality.name|capitalize }}</p>
                                </div>
                                <span class="reviews">8<i class="fas fa-star"></i></span>
                                {% if provider.promotions|length != 0 %}
                                    <span class="promos">Promos</span>
                                {% endif %}
                                {% if provider.internships|length > 0 %}
                                    <span class="internships">Stages</span>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pagination">
                {% if previous >= 0 %}
                    <div class="cta previous">
                        <a href="search/?search[q]={{ what }}&search[c]={{ whichCategory }}&search[w]={{ where }}&offset={{ previous }}#results">
                            Précédents
                        </a>
                    </div>
                {% endif %}
                {% if next < providers|length %}
                    <div class="cta next">
                        <a href="search/?search[q]={{ what }}&search[c]={{ whichCategory }}&search[w]={{ where }}&offset={{ next }}#results">
                            Suivants
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
