{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
<main>
    <section class="hero">
        <div class="wrapper">
            <h1>Trouvez le bonheur près de chez vous</h1>
            {{ render(controller(
                'App\\Controller\\SearchController::displayForm'
            )) }}
        </div>
    </section>
    <section class="highlightedCategory">
        <div class="wrapper">
            <h2>Catégorie du moment</h2>
            <div class="bigCard">
                <div class="img-container">
                    <img loading="lazy" src="{{ category_directory ~ highlightedCategory.image }}" alt="Image {{ highlightedCategory.name }}" />
                </div>
                <div class="bigCard-content">
                    <h3>{{ highlightedCategory.name }}</h3>
                    <p>{{ highlightedCategory.description }}</p>
                    <a href="{{ path('category_detail', { 'categoryName' : highlightedCategory.name }) }}">
                        <div class="cta">
                            Découvrez les prestataires
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="slider">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img loading="lazy" src="{{ images_directory ~ image.fileName }}" alt="Image Slider {{ loop.index }}"/>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="lastSubscribers">
        <div class="wrapper">
            <h2>Derniers inscrits</h2>
            <div class="smallCard-container">
                {% for lastSubscriber in lastSubscribers %}
                    <div class="smallCard">
                        <a href="{{ path('provider_detail', { id : lastSubscriber.id } ) }}">
                            <img loading="lazy" src="{{ logo_directory ~ lastSubscriber.logo }}" alt="Image {{ lastSubscriber.name }}" />
                        </a>
                        <a href="{{ path('provider_detail', { id : lastSubscriber.id } ) }}">
                            <div class="smallCard-content">
                                <p class="name">{{ lastSubscriber.name }}</p>
                                <p class="category">
                                    {% for serviceCategory in lastSubscriber.serviceCategories %}
                                        {{ serviceCategory.name }}{{ loop.index != loop.last ? ', ' : '' }}
                                    {% endfor %}
                                </p>
                                <p class="place">{{ lastSubscriber.user.locality.postCode.postCode ~ ' ' ~ lastSubscriber.user.locality.name|capitalize }}</p>
                            </div>
                        </a>
                        <span class="reviews">8<i class="fas fa-star"></i></span>
                        {% if lastSubscriber.getUnexpiredPromotions|length > 0 and lastSubscriber.getUnexpiredInternships|length > 0 %}
                            <span class="smallPills-1 promos">Promos</span>
                            <span class="smallPills-2 internships">Stages</span>
                        {% elseif lastSubscriber.getUnexpiredPromotions|length > 0 %}
                            <span class="smallPills-1 promos">Promos</span>
                        {% elseif lastSubscriber.getUnexpiredInternships|length > 0 %}
                            <span class="smallPills-1 internships">Stages</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
