{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
<main>
    <section class="hero">
        <div class="wrapper">
            <h1>Trouvez le bonheur près de chez vous</h1>
            <form>
                <label>Que cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Prestataire, catégorie, ..."/>
                <label>Où le cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Ville, code postal, localité, ..."/>
                <input type="submit" value="Evadez-vous" />
            </form>
        </div>
    </section>
    <section class="highlightedCategory">
        <div class="wrapper">
            <h2>Catégorie du moment</h2>
            <a href="{{ path('category_detail', { 'categoryName' : highlightedCategory.name }) }}">
                <div class="bigCard">
                    <img src="{{ asset('/img/category.jpg') }}" />
                    <div class="bigCard-content">
                        <h3>{{ highlightedCategory.name }}</h3>
                        <p>{{ highlightedCategory.description }}</p>
                        <div class="cta">
                            <a href="{{ path('category_detail', { 'categoryName' : highlightedCategory.name }) }}">Découvrez les prestataires</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <div class="wrapper">

    </div>
</main>
{% endblock %}
