{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
<main>
    <section class="hero">
        <div class="wrapper">
            <h1>Trouvez le bonheur près de chez vous</h1>
            <form action="/search">
                <label for="q">Que cherchez-vous ?</label>
                <input name="q" type="search" autocomplete="false" placeholder="Prestataire"/>
                <label for="c">Dans quelle catégorie ?</label>
                <input name="c" type="search" autocomplete="false" placeholder="Catégorie"/>
                <label for="w">Où le cherchez-vous ?</label>
                <input name="w" type="search" autocomplete="false" placeholder="Ville, code postal, localité, ..."/>
                <input type="submit" value="Evadez-vous" />
            </form>
        </div>
    </section>
    <section class="highlightedCategory">
        <div class="wrapper">
            <h2>Catégorie du moment</h2>
            <a href="{{ path('category_detail', { 'categoryName' : highlightedCategory.name }) }}">
                <div class="bigCard">
                    <img src="{{ asset('/img/category.jpg') }}" alt="Image {{ highlightedCategory.name }}" />
                    <div class="bigCard-content">
                        <h3>{{ highlightedCategory.name }}</h3>
                        <p>{{ highlightedCategory.description }}</p>
                        <div class="cta">
                            <a href="{{ path('category_detail', { 'categoryName' : highlightedCategory.name }) }}">Découvrez les prestataires</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="lastSubscribers">
        <div class="wrapper">
            <h2>Derniers inscrits</h2>
            <a href="">
                <div class="smallCard-container">
                    {% for i in 1..4 %}
                        <div class="smallCard">
                            <img src="{{ asset('/img/thumbnail_provider.jpg') }}" />
                            <div class="smallCard-content">
                                <p class="name">Louis Vuitton</p>
                                <p class="category">Massage, Spa, Hamman, Soin visage, Soin corps</p>
                                <p class="place">4020 Liège</p>
                            </div>
                            <span class="reviews">8<i class="fas fa-star"></i></span>
                            <span class="promos">Promos</span>
                            <span class="internships">Stages</span>
                        </div>
                    {% endfor %}
                </div>
            </a>
        </div>
    </section>
    <section class="slider">
        <div class="wrapper">
            SLIDER
        </div>
    </section>

</main>
{% endblock %}
