{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ category.name }}
{% endblock %}

{% block body %}
    <section class="heading listing categoryDetail">
        <div class="wrapper">
            <h1>{{ category.name }}</h1>
            <p>{{ category.description }}</p>
        </div>
    </section>
    <section class="content listing categoryDetail">
        <div class="wrapper">
            <h2>Tous les prestataires</h2>
            <div class="smallCard-container">
                {% if category.providers|length == 0 %}
                    <p>Aucun prestataire pour cette catégorie</p>
                {% else %}
                    {% for provider in category.providers %}
                        <a href="{{ path('provider_detail', { id : provider.id } ) }}">
                            <div class="smallCard">
                                <img src="{{ asset('/img/thumbnail_provider.jpg') }}" />
                                <div class="smallCard-content">
                                    <p class="name">{{ provider.name }}</p>
                                    <p class="category">
                                        {% for serviceCategory in provider.serviceCategories %}
                                            {{ serviceCategory.name }}{{ loop.index != loop.last ? ', ' : '' }}
                                        {% endfor %}
                                    </p>
                                    <p class="place">{{ provider.user.locality.postCode.postCode ~ ' ' ~ provider.user.locality.name|capitalize }}</p>
                                </div>
                                <span class="reviews">8<i class="fas fa-star"></i></span>
                                {% if provider.promotions|length != 0 %}
                                    <span class="promos">Promos</span>
                                {% endif %}
                                {% if provider.internships|length > 0 %}
                                    <span class="internships">Stages</span>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="cta">
                <a href="#">Voir plus</a>
            </div>
        </div>
    </section>
{% endblock %}