{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Nos catégories de services
{% endblock %}

{% block body %}
    <main>
        <section class="heading listing category">
            <div class="wrapper">
                <h1>Nos catégories</h1>
            </div>
        </section>
        <section>
            <div class="wrapper">
                {% for category in categories %}
                    <div class="bigCard">
                        <div class="img-container">
                            <img loading="lazy" src="{% if category.image is null %}{{ asset('/img/category.jpg') }}{% else %}{{ category_directory ~ category.image }}{% endif %}" alt="Image {{ category.name }}" />
                        </div>
                        <div class="bigCard-content">
                            <h3>{{ category.name }}</h3>
                            <p class="description">{{ category.description }}</p>
                            <a href="{{ path('category_detail', { 'categoryName' : category.name }) }}">
                                <div class="cta">
                                    Découvrez les prestataires
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
